@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;     
}

h1 {
    font-size: 2vw;
    text-align: center;
    margin: 10px 0 0 0;
}

.container {
    width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #000;
    position: relative;
}

fieldset {
    margin: 10px;
    padding: 10px;
}

.foto {
    width: 45%;
    height: 15vw;
    display: inline;
    float: left;
}

.nome {
    width: 50%;
    height: auto;
    display: inline;
    margin-left: 1.8vw;
}

.localizacao {
    width: 50%;
    height: auto;
    display: inline;
    margin-left: 1.8vw;
}

.horario {
    clear: both;
    width: 50%;
    height: auto;
    float: right;
}

.visitacao {
    width: 45%;
    height: auto;
    margin-top: 5.1vw;
}

.sobre {
    clear: both;
}

